.zentai{
  background-color: #f5f5f5;
}
.header{
  height: 100px;
  padding: 25px 0;
}
.image_sign_up{
  padding-left: 300px;
  margin-bottom: 60px;
}
.data__img{
  padding-left: 60px;
  margin-bottom: 40px;
}

.contents-box{
  margin: auto;
  margin-bottom: 50px;
  width: 700px;
  height: 1100;
  background-color: white;

  .customer_data_input{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    border-bottom: 0.09px solid #eee; 
  }
}
.input_box{
  padding: 40px;

    .input_box1{
      padding: 0 135px;
      margin: 0 auto; 

      .name{
        margin: 0 atuo;
      }

      .ran{
        bottom: 30px;
        width: 355px;
        list-style: none;
      }

      .ran2{
        margin: 24px 0 0;
        bottom: 30px;
        width: 355px;
        list-style: none;
      }

      label{
        font-weight: bold;
        font-size: 14px;
        padding-right: 8px;
      }
      span{
        background: red;
        padding: 2px 4px;
        border-radius: 2px;
        color: white;
        font-size: 13px;
      }
      input{
        height: 45px;
        width: 340px;
        margin: 5px 0 5px 0;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
        font-size: 16px;
      }
        .prefecture{
          @extend input;
          width: 350px;
          background: white;
          color: gray;
        }
      .next{
        font-size: 15px;
        height: 50px;
        width: 360px;
        margin: 32px 0 30px 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: white;
        vertical-align: top;
      }
      .ninni{
        @extend .next;
        background: lightgrey;
        border: 1px solid;
        background: #ccc;
        padding: 2px 4px;
      }
    }
}

.footer{
  height: 220px;
  font-size: 5px;
  margin-bottom: 20px;
}

.hosoku{
  width: 800px;
  margin: auto;
}
  
  nav{
    text-align: center;
  }
  @mixin clearfix{
    text-align: center;
  }
  ul{
    display: flex;
    margin: 0 auto;
    padding-left: 200px;
  }
  
  a{
    @include clearfix;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
  }
  .li_link{
    @include clearfix;
  }
  .log{
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  small{
    font-size: 11px;
    font-weight: none;
  }
