.footer
  .hosoku
    %nav.nav
      %ul.clear
        %li.li_link
          = link_to "プライバシーポリシー",class: 'li_link'
        %li.li_link
          = link_to "メルカリ利用規約",class: 'li_link'
        %li.li_link
          = link_to "特定商取引に関する表記",class: 'li_link'
      = image_tag 'logo-gray.svg', class: "log"
      %small.small &copy; 2019 Mercari
      
