.zentai{
  background: #f5f5f5;
}
.header{
  height: 120px;
  padding: 10px 0 5px 0;

}

.image_sign_up{
  padding-left: 370px;
  margin-bottom: 50px;
  width: 170px;
  margin-bottom: 40px;
}
.data__img{
  height: 100px;
  width: 500px;
  padding-left: 35px;
  margin-bottom: 20px;
}

.contents{
  height: 450px;
  margin-bottom: 50px;

}
.contents-box{
  width: 700px;
  height: 450px;
  background: white;
  margin: 0 auto;
  

  &__title{
    height: 100px;
    width: 700px;
    border-bottom: 0.09px solid rgb(230, 230, 230); 
    text-align: center; 
    line-height: 100px;
    font-family: bold;
  }
  h{
    font-size: 20px;
    font-weight: 600;
  }

  &__input{
    height: 300px;
    padding: 20px;
  }

  .input-box{
    padding-left: 150px;
    height: 320px;
    width: 450px;
    }
  .phone_number{
    height: 80px;
    font-size: 15px;
  }
  label{
    font-weight: 600;
    margin-bottom: 15px;
  }
  input{
    height: 48px;
    width: 350px;
    border-radius: 3px;
    padding-left: 15px;
    margin: 8px 0 0 0 ;
    border: 1px solid #ccc;
  }
  p{
    width: 375px;
    font-size: 13px;
    margin: 8px 0 0;
  }
  button{
    @extend input;
    width: 370px;
    margin: 30px 0px 0 0;
    background: red;
    text-align: center;
    color: white;
    font-size: 13px;
    padding: 0;
  }
  .tyuui{
    width: 365px;
  }
   a {
    width: 365px;
    color: #6495ed;
    font-size: 13px;
    padding-left: 95px;
  }
}

.footer{
  height: 220px;
  font-size: 5px;
}

.hosoku{
  width: 800px;
  margin: auto;
  margin-left: 350px;
}
  
  nav{
    text-align: center;
  }
  @mixin clearfix{
    text-align: center;
  }
  ul{
    display: flex;
    margin: 0 auto;
    padding-left: 200px;
  }
  
  a{
    @include clearfix;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
  }
  .li_link{
    @include clearfix;
  }
  .log{
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 350px;
    margin-bottom: 10px;
  }
  small{
    font-size: 11px;
    font-weight: none;
    padding-right: 25px;
  }
